@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("ttf");
  font-style: normal;
}

.txt-regular {
  font-family: "Roboto" !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.txt-medium {
  font-family: "Roboto" !important;
  font-style: normal !important;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000000;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.languages-btn {
  background-color: transparent;
}

.mr-btn {
  font-size: 16px;
  line-height: 22px;
  color: #7453E8;
  background-color: #E5E2FF;
  border-radius: 100px;
  padding: 6px 24px;
  margin: 0 0 0 16px;
}

.order-btn {
  max-width: 311px;
  width: 100%;
  padding: 10px;
  background: #7453E8;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  color: #F0F2F3;
  margin: 20px auto 0;
  display: block;
}

.home {
  padding: 24px 16px 8px;
}

.home-header {
  max-width: 1040px;
  width: 100%;
  background-color: transparent;
  background-image: url(../imgs/homeHeaderBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 73px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header-item:first-child {
  max-width: 328px;
  width: 100%;
}

.home-header-item-logo {
  height: 80px;
}

.home-header-item-logo-wrp {
  margin: 0 0 16px;
}

.home-header-item-right-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-header-info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header-info-btns-item.table {
  background-color: transparent;
  font-size: 18px;
  line-height: 24px;
  color: #F0F2F3;
}

.home-header-info-txt {
  color: #F0F2F3;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-header-info-txt svg {
  margin: 0 6px 0 0;
  width: 20px;
}

.home-header-info-txt-item.hours.open {
  color: #03BB16;
}

.home-header-info-txt:last-child {
  margin: 0;
}

.home-content {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.home-content-item {
  margin: 0 0 32px;
}

.home-content-item:last-child {
  margin: 0;
}

.home-content-item-info {
  margin: 0 0 16px;
}

.home-content-item-info-title {
  font-size: 22px;
  line-height: 26px;
  color: #F0F2F3;
  margin: 0 0 4px;
}

.home-content-item-info-subtitle {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #f0f2f3a6;
  max-width: 331px;
  width: 100%;
}

.home-content-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-content-goods-item {
  max-width: 331px;
  width: 100%;
  padding: 8px 8px 8px 12px;
  background-color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 16px;
  margin: 0 0 24px;
}

.home-content-goods-item-info {
  margin: 0 8px 0 0;
}

.home-content-goods-item-title {
  font-size: 14px;
  line-height: 20px;
  color: #F0F2F3;
  margin: 0 0 4px;
}

.home-content-goods-item-subtitle {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #f0f2f3a6;
  margin: 0 0 16px;
}

.home-content-goods-item-price {
  font-size: 16px;
  line-height: 22px;
  color: #F0F2F3;
}

.home-content-goods-item-img {
  width: 100%;
}

.home-content-goods-item-img-wrp {
  max-width: 127px;
  width: 100%;
}

@media (max-width: 360px) {
  .mr-btn {
    padding: 6px 20px;
  }
  .order-btn {
    max-width: 100%;
  }
  .home {
    padding: 0 0 8px;
  }
  .home-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 50px 16px 16px 16px;
    background-image: url(../imgs/homeHeaderBackgroundMobile.png);
    background-size: auto 236px;
    margin: 0 auto 32px;
  }
  .home-header-item-right-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-header-item-logo-wrp {
    margin: 0 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-header-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    -webkit-box-shadow: 0px 6px 16px rgba(181, 181, 181, 0.1);
            box-shadow: 0px 6px 16px rgba(181, 181, 181, 0.1);
  }
  .home-header-info-txt {
    margin: 0 0 22px;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-header-info-txt:first-child {
    width: 100%;
    margin: 0 0 31px;
    text-align: center;
  }
  .home-header-info-btns {
    width: 100%;
    padding: 0 0 16px;
  }
  .home-content-item {
    padding: 0 16px;
  }
  .home-content-goods-item {
    margin: 0 0 12px;
  }
}
/*# sourceMappingURL=style.css.map */